
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1024px !important;
    width: 100%;
    margin: 0 auto;

}
section{
    padding: 56px 0;   
}
li {
    list-style: none;
}



/// default styles
$primary-color: #182C61;
$secondary-color: #44bd32;
$bg-color: #f5f6fa;
